.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  gap: 2rem;
}

.abt-wrapper{
  display: grid;
  gap: 3rem;
}

.abt-h1{
  color: var(--black);
  font-size: calc(28px + 2vw);
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
  user-select: none;
  position: relative;
}

.abt-sec{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  text-align: left;
}
.abt-sec > .abt-p{
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--white-08);
}


.skill-h1{
  color: var(--black);
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  user-select: none;
  padding: 1rem 0;
}
.abt-p{
  color: var(--white-05);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.feature-img{
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 10/16;
}

.skills-sec{
  background-color: var(--white-08);
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  border-radius: 8px;
}
.skill-sec-1, .skill-sec-2{
  width: 100%;
}

h2.skill-name{
  color: var(--black);
  font-size: 2rem;
  font-weight: 500;
}
.skillcontainer ul{
  list-style-type: none;
  margin: 1rem 0px;
  color: var(--white-05);
}
.skillcontainer ul li{
  margin-bottom: 8px;
}
.apps-wrapper{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.appcontainer{
  display: flex;
  width: 100%;
  gap: 12px;
}

.app-name{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
  height: 56px;
  width: 56px;
  border-radius: 8px;
  background-color: var(--white-07);
  color: var(--black);
}
